# Numbers

Numbers can be integers or decimal numbers. Decimal numbers are called `floats`.

Addition:

In [1]:
1+1

2

Subtraction:

In [2]:
10 - 5

5

Multiplication:

In [3]:
10 * 10

100

Division (using floats):

In [4]:
100.0 / 3.0

33.333333333333336

Note: if we try to divide 100 by 3 as integers, the result will be rounded to the nearest integer! Need to be careful about this.

In [5]:
100 / 3

33

# Strings

Words and text are called `strings`. They must be surrounded by either single quotes or double quotes.

Print some text:

In [6]:
print 'Hello world'

Hello world

Concatenate two strings:

In [7]:
print "My name is" + " " + "Will" # Replace with your name

My name is Will

Multiply strings:

In [8]:
print "My name is Will \n" * 10 # note: \n creates a new line. Try removing the \n and see what happens.

My name is Will
My name is Will
My name is Will
My name is Will
My name is Will
My name is Will
My name is Will
My name is Will
My name is Will
My name is Will

# Variables

We can store data in variables. Make a variable to store your name.

In [9]:
name = 'Will' # Insert your name here

In [10]:
print "My name is", name

My name is Will

If we overwrite a variable with new data it will replace the previous data.

In [11]:
name = 'Sam'

In [12]:
print "My name is", name

My name is Sam

We can store numbers in variables, too.

In [13]:
NYC_population = 8538000

In [14]:
LA_population = 3976000

In [15]:
print "New York City has approximately", NYC_population - LA_population, "more people than Los Angeles."

New York City has approximately 4562000 more people than Los Angeles.

# Lists

Data structures are objects in which we can store data.

A `list` is a fundamental data structure in which we store items in an ordered array. `Lists` must start with square bracket `[` and end with square bracket `]`. The items in a list are separated by commas.

Make a list called `courses` to store the courses you are taking this semester:

In [16]:
courses = ['Comparative Literature', 'Multilingual City', 'Calculus']

In [17]:
print courses

['Comparative Literature', 'Multilingual City', 'Calculus']

You can see the length of a list using the `len` function:

In [18]:
print len(courses)

3

You can access items in a list by their position. Note that the first item in a list is considered position 0 (not 1).

In [19]:
courses[0]

'Comparative Literature'

In [20]:
courses[1]

'Multilingual City'

In [21]:
courses[2]

'Calculus'

You can add an item to the end of a list using the `append` function.

In [22]:
courses.append('Biology')

Now 'Biology' is the in `courses` list:

In [23]:
courses

['Comparative Literature', 'Multilingual City', 'Calculus', 'Biology']

Make another list called `grades` to store your grades for these courses (they don't have to be your real grades!)

In [24]:
grades = ['A', 'B', 'C', 'D']

In [25]:
grades[0]

'A'

In [26]:
grades[1]

'B'

# Dictionaries

What if you wanted to look up your grades by the course name, rather than their position in a list? 

For this, we need a new data structure called a `dictionary`.

A dictionary is a set of key -> value pairs. The are contained in curly bracket `{}`.

We can combine our `courses` and `grades` lists into a dictionary by using a handy function called `zip` within a function called `dict`.

In [27]:
my_grades = dict(zip(courses, grades))

In [28]:
my_grades

{'Biology': 'D',
 'Calculus': 'C',
 'Comparative Literature': 'A',
 'Multilingual City': 'B'}

Now, we can accesss our grades by the course name rather than by their index.

In [29]:
my_grades['Comparative Literature']

'A'

In [30]:
my_grades['Biology']

'D'

You can add a new item to a dictionary like this:

In [31]:
my_grades['Philosophy'] = 'A'

In [32]:
my_grades

{'Biology': 'D',
 'Calculus': 'C',
 'Comparative Literature': 'A',
 'Multilingual City': 'B',
 'Philosophy': 'A'}

You can view the keys and values of a dictionary like this:

In [33]:
my_grades.keys()

['Calculus',
 'Multilingual City',
 'Biology',
 'Philosophy',
 'Comparative Literature']

In [34]:
my_grades.values()

['C', 'B', 'D', 'A', 'A']

# For Loops

`For loops` are a simple yet powerful concept that enable you to perform many actions which only one command. The general concept is that you iterate through a list, and for each item in that list you perform some operation.

For example, the for loop below iterates through the `courses` list and prints each one:

In [35]:
for i in courses:
    print i

Comparative Literature
Multilingual City
Calculus
Biology

Note that it is customary to use `i` to refer to each item, but you can use any name you want:

In [36]:
for course in courses:
    print course

Comparative Literature
Multilingual City
Calculus
Biology

In [37]:
for grade in grades:
    print grade

A
B
C
D

# If / else statements

If else statements allow you to program logical rules.

For example, write a for loop to print out different statement depending on the grade received:

In [39]:
for i in courses:
    
    if my_grades[i] == 'A':
        
        print "Congrats! You got an A in", i
        
    elif my_grades[i] =='B':
        
        print "Meh. You got a B in", i
        
    else:
        
        print "Sorry, you got a {} in".format(my_grades[i]), i

Congrats! You got an A in Comparative Literature
Meh. You got a B in Multilingual City
Sorry, you got a C in Calculus
Sorry, you got a D in Biology